{% extends 'admin/layout.html' %}
{% set title = 'Бренды' %}
{% block content %}
<div class="modal-right">
  
</div><!-- /.modal-right -->

<div class="hero">
  <div class="hero-ico">:::</div><!-- /.hero-ico -->
  <div class="hero-title">
    <span>Бренды</span>
    <small>Добавление редактирование брендов</small>
  </div><!-- /.hero-title -->
  <div class="hero-right">
    <button class="btn-icon btn-transition btn btn-shadow btn-outline-info">Добавить Бренд</button>
  </div><!-- /.hero-right -->
</div><!-- /.hero -->

<div class="list">
<div class="list-head">
  <input type="checkbox" name="checkAll" id="checkAll">
  <div class="list-item">Наименование</div><!-- /.list-item -->
</div><!-- /.list-head -->
<div class="list-body">
  <div class="list-body-items">
      <input type="checkbox" name="name" id="name-item">
      <div class="list-item">Бюстгальтеры</div><!-- /.list-item -->
      <div class="list-item-del">
        <button class="btn-sm btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-warning"><i class="bi bi-trash3"></i></button>
      </div><!-- /.list-item -->
  </div><!-- /.list-body-items -->
  <div class="list-body-items">
    <input type="checkbox" name="name" id="name-item">
    <input class="list-item-edit" type="text" name="name" value="Бюстгальтеры">
    <div class="list-item-del">
      <button class="btn-sm btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-warning"><i class="bi bi-trash3"></i></button>
    </div><!-- /.list-item -->
</div><!-- /.list-body-items -->
</div><!-- /.list-body -->
<div class="list-footer">
  <div class="list-pagination">
    <a href="">1</a><a class="active" href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
    <select name="pagination" id="" style="display: none;">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
    </select><!-- /# -->
  </div><!-- /.list-pagination -->
</div><!-- /.list-footer -->
</div><!-- /.list -->

<style>


</style>
{% endblock %}