{% extends 'admin/layout.html' %}

{% set title = 'Бренды' %}

{% block content %}
<div class="hero">
  <div class="hero-ico">:::</div><!-- /.hero-ico -->
  <div class="hero-title">
    <span>Бренды</span>
    <small>Добавление редактирование брендов</small>
  </div><!-- /.hero-title -->
  <div class="hero-right">
    <button class="btn-icon btn-transition btn btn-shadow btn-outline-info">Добавить Бренд</button>
  </div><!-- /.hero-right -->
</div><!-- /.hero -->

<div class="list">
<div class="list-head">
  <input type="checkbox" name="checkAll" id="checkAll">
  <div class="list-item">Наименование</div><!-- /.list-item -->
</div><!-- /.list-head -->
<div class="list-body">
  <div class="list-body-items">
      <input type="checkbox" name="name" id="name-item">
      <div class="list-item">Бюстгальтеры</div><!-- /.list-item -->
      <div class="list-item-del">
        <button class="btn-sm btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-warning"><i class="bi bi-trash3"></i></button>
      </div><!-- /.list-item -->
  </div><!-- /.list-body-items -->
</div><!-- /.list-body -->
<div class="list-footer">
  <div class="list-pagination">
    <a href="">1</a><a class="active" href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>
    <select name="pagination" id="" style="display: none;">
      <option value="1">1</option>
      <option value="1">2</option>
      <option value="1">3</option>
      <option value="1">4</option>
      <option value="1">5</option>
    </select><!-- /# -->
  </div><!-- /.list-pagination -->
</div><!-- /.list-footer -->
</div><!-- /.list -->

<style>
  .list{
    width: 100%;
    box-shadow: var(--panel-box-shadow);
    border-radius: 5px;
  }
  .list-head{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--nav-border-color);
    background: var(--nav-bg);
    color: var(--nav-color);
    border-radius: 5px 5px 0 0;
    padding-left: 10px;
  }
  .list-body{
    width: 100%;
    background-color: white;
    min-height: 50px;
  }
  .list-body-items{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .list-item-del{
    margin-left: auto;
  }
  .list-footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--nav-border-color);
    background: var(--nav-bg);
    color: var(--nav-color);
    border-radius: 0 0 5px 5px;
  }
  .list-pagination{
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    gap: 10px;
  }

  .list-pagination a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--nav-border-color);
    background-color: white;
    transition: background-color .3s ease,color .3s ease;
  }
  .list-pagination a:hover{
    background-color: #eaedf5;
  }
  .list-pagination > .active{
    background-color: #eaedf5;
  }
  .list-pagination select{
    padding: 0 10px 0 10px;
  }
  .list-item{
    min-width: 120px;
  }

  @media(max-width:500px){
    .list-pagination select{
      display: block!important;
    }
    .list-pagination a{
      display: none;
    }
  }

</style>
{% endblock %}