<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/users" method="post">
            <input type="text" name="name"/>
            <input type="number" name="age"/>
            <input type="text" name="email"/>
            <button type="submit">Отправить</button>
        </form>
    </div><!-- /.container -->
</body>
</html>