<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="common.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus earum nesciunt ad beatae mollitia, amet vitae dolor veritatis porro voluptatum, eum quas hic sint voluptas, optio voluptatibus nostrum blanditiis assumenda?
    </div><!-- /.container -->
</body>
</html>