{% extends 'admin/layout.html' %}

{% set title = 'Настройки' %}

{% block content %}
<div class="hero">
    <div class="hero-ico">:::</div><!-- /.hero-ico -->
    <div class="hero-title">
        <span>Настройки</span>
        <small>Добавление редактирование настроек</small>
    </div><!-- /.hero-title -->
    <div class="hero-right">right</div><!-- /.hero-right -->
</div><!-- /.hero -->

<div class="card">
    <div class="card-head">
        test
    </div><!-- /.card-head -->
    <div class="card-body">
        body
    </div><!-- /.card-body -->
</div><!-- /.card -->
{% endblock %}